<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<title>Add user</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add user</h1>
	<div>
		<form th:object="${form}" th:action="@{/admin/saveuser}" action="#" method="post">
			<div class="form-group">
				<label for="firstname">First name</label>
				<input class="form-control" type="text" id="title" th:field="*{firstname}" />
				<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">First name Error</p>
			</div>
			<div class="form-group">
				<label for="lastname">Last name</label>
				<input class="form-control" type="text" id="author" th:field="*{lastname}" />
				<p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Last name Error</p>	
			</div>
			<div class="form-group">
				<label for="username">Username</label>
				<input class="form-control" type="text" th:field="*{username}" />
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>	
			</div>
			<div class="form-group">
				<label> Email :<input type="text" th:field="*{email}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>	
			</div>
			<div class="form-group">
				<label> Password :<input type="password" th:field="*{password}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			</div>
			<div class="form-group">
				<label> Re-type Password: <input type="password" th:field="*{passwordCheck}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
			</div>
			<div class="form-group">
				<label for="isCompetitor">Participant</label>
				 <select id="isCompetitor" th:field="*{isCompetitor}" class="form-control">
	       			<option th:value="false" th:text="false"></option>
	       			<option th:if="${rounds == 0}" th:value="true" th:text="true"></option>
	    		</select>
			</div>
			<div class="form-group">
				<label for="role">Role</label>
				 <select id="role" th:field="*{role}" class="form-control">
	       			<option th:value="USER" th:text="USER"></option>
	       			<option th:value="ADMIN" th:text="ADMIN"></option>
	    		</select>
			</div>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input class="btn btn-primary mb-2" type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>

