<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/tablecss.css"
	th:href="@{/css/tablecss.css}" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<title>Bracket</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th th:each="stage: ${stages}" th:text="${stage.stage}"></th>
					<th>Winner</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="stage: ${stages}">
					<td th:if="${stage.stage == round?.stage.stage}" th:each="round: ${rounds}"><p th:text="${round?.user1?.username}" /><br><p th:text="${round?.user2?.username}" /></td>
				</tr>
				<tr>
					<td class="font-weight-bold" th:text="${winner}"></td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-success" href="/competitors">User list</a> 
		<a href="/rounds" class="btn btn-primary">Rounds</a>
		<a href="/home" class="btn btn-primary">Main page</a>
	</div>
</body>
</html>
