<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<title>Edit user</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit user</h1>
	<div>
		<form th:object="${user}" th:action="@{../admin/edituser}" action="#"	method="post">
			<input type="hidden" th:field="*{id}" class="form-control" />
			<input type="hidden" th:field="*{accountVerified}" class="form-control" />
			<input type="hidden" th:field="*{verificationCode}" class="form-control" />
			<label for="firstname">Firstname: </label>
			<div class="form-group">
				<input type="text" th:field="*{firstname}" class="form-control" />
			</div>
			<label for="lastname">Lastname</label>
			<div class="form-group">	
				<input type="text" th:field="*{lastname}" class="form-control" />
			</div>
			<label for="username">Username</label>
			<div class="form-group">
				<input type="text" th:field="*{username}" class="form-control" />
			</div>
			<div class="form-group">
				<input type="hidden" th:field="*{email}" class="form-control" />
			</div>
			<label for="passwordHash">Password Hash</label>
			<div class="form-group">
				<input type="text" th:field="*{passwordHash}" class="form-control" />
			</div>
			<div th:if="${rounds == 0 and isVerified}" class="form-group">
				<label for="isCompetitor">Participant</label>
				 <select id="isCompetitor" th:field="*{isCompetitor}" class="form-control">
	       			<option th:value="false" th:text="false"></option>
	       			<option th:value="true" th:text="true"></option>
	    		</select>
			</div>
			<div th:if="${rounds != 0 or !isVerified}" class="form-group">
				<input type="hidden" th:field="*{isCompetitor}" class="form-control" />
			</div>
			<input type="hidden" th:field="*{stage}" class="form-control" />
			<input type="hidden" th:field="*{isOut}" class="form-control" />
			<div class="form-group">
				<label for="role">Role</label>
				 <select id="role" th:field="*{role}" class="form-control">
	       			<option th:value="USER" th:text="USER"></option>
	       			<option th:value="ADMIN" th:text="ADMIN"></option>
	    		</select>
			</div>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-primary mb-2" value="Save"></input>
		</form>
	</div>
</body>
</html>

