<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<title>Personal page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
	<div th:object="${curruser}" class="col-md-4">
		<h3 style="margin-bottom: 20px" th:text="'My page ' + *{username}"></h3>
	</div>
	<table class="table table-striped">
		<tr>
			<th>First name</th>
			<th>Last name</th>
			<th>Username</th>
			<th>Email</th>
			<th>Is out</th>
			<th>Participant</th>
			<th>Stage</th>
			<th>Role</th>
		</tr>
		<tr th:object="${curruser}">
			<td th:text="${curruser.firstname}"></td>
			<td th:text="${curruser.lastname}"></td>
			<td th:text="${curruser.username}"></td>
			<td th:text="${curruser.email}"></td>
			<td th:text="${curruser.isOut}"></td>
			<td th:text="${curruser.isCompetitor}"></td>
			<td th:text="${curruser.stage.stage}"></td>
			<td th:text="${curruser.role}"></td>
		</tr>
	</table>
	<a style="margin-bottom: 20px" th:href="@{/edituserbyname/{username}(username=${curruser.username})}" class="btn btn-info">edit information</a>
	<a style="margin-bottom: 20px" th:href="@{/changepassword/{username}(username=${#authentication.getPrincipal().getUsername()})}" class="btn btn-primary">Change password</a>
	
</div>
<div class="container">
	<div>
		<h2 style="margin-bottom: 20px" th:if="${curruser.isCompetitor == true}">My rounds</h2>
	</div>
	<table th:if="${curruser.isCompetitor == true}" class="table table-striped">
		<tr>
			<th>Competitor 1</th>
			<th>Competitor 2</th>
			<th>Stage</th>
			<th>Result</th>
		</tr>
		<tr th:each="round : ${rounds1}">
			<td th:text="${round.user1.username}"></td>
			<td th:text="${round?.user2?.username}"></td>
			<td th:text="${round.stage.stage}"></td>
			<td th:text="${round.result}"></td>
		</tr>
		<tr th:each="round2 : ${rounds2}">
			<td th:text="${round2?.user1?.username}"></td>
			<td th:text="${round2.user2.username}"></td>
			<td th:text="${round2.stage.stage}"></td>
			<td th:text="${round2.result}"></td>
		</tr>
	</table>
	<a class="btn btn-success" href="/competitors">User list</a>
	<a  th:if="${rounds > 0}" href="/bracket" class="btn btn-primary">Bracket</a>
	<a href="/home" class="btn btn-primary">Main page</a>
</div>
</body>
</html>