<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset of your password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<h5>To reset your password please type in your email, used during the registration</h5>
     <div class="col-md-4">
		<form th:object="${emailform}" th:action="@{/resetpassword}" action="#" method="post">
			<div>
				<label> Email :<input type="text" th:field="*{email}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>	
			</div>
			<input type="submit" class="btn btn-primary" value="Submit"></input>		
		</form>
	</div>
</div>
</body>
</html>