<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<title>Stage List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Stages</h1>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Stage</th>
			<th>Start</th>
			<th>End</th>
			<th>Current stage</th>
		</tr>
		<tr th:each="stage : ${stages}">
			<td th:text="${stage.stage}"></td>
			<td th:text="${stage.startdate}"></td>
			<td th:text="${stage.enddate}"></td>
			<td th:text="${stage.isCurrent}"></td>
		</tr>
	</table>
	<a href="/home" class="btn btn-primary">Main page</a>
</div>
</body>
</html>