<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Signup was successed</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container text-center">
		<h3>You have signed up successfully!</h3>
		<p>Please check your email to verify your account.</p>
		<h4>
			<a href="/login">Click here to Login</a>
		</h4>
	</div>
</body>
</html>