<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<title>User List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Users</h1>
		<form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<table class="table table-striped">
		<tr>
			<th sec:authorize="hasAuthority('ADMIN')">First name</th>
			<th sec:authorize="hasAuthority('ADMIN')">Last name</th>
			<th>Username</th>
			<th sec:authorize="hasAuthority('ADMIN')">Email</th>
			<th>Is out</th>
			<th>Participant</th>
			<th>Stage</th>
			<th sec:authorize="hasAuthority('ADMIN')">Role</th>
			<th sec:authorize="hasAuthority('ADMIN')">Verified</th>
			<th sec:authorize="hasAuthority('ADMIN')" th:if="!${#lists.isEmpty(users)}"></th>
			<th sec:authorize="hasAuthority('ADMIN')" th:if="!${#lists.isEmpty(users)}"></th>
			<th sec:authorize="hasAuthority('ADMIN')" th:if="!${#lists.isEmpty(users) and rounds > 0}"></th>
		</tr>
		<tr th:each="user : ${users}">
			<td sec:authorize="hasAuthority('ADMIN')" th:text="${user.firstname}"></td>
			<td sec:authorize="hasAuthority('ADMIN')" th:text="${user.lastname}"></td>
			<td th:text="${user.username}"></td>
			<td sec:authorize="hasAuthority('ADMIN')" th:text="${user.email}"></td>
			<td th:text="${user.isOut or !user.accountVerified}"></td>
			<td th:text="${user.isCompetitor and user.accountVerified}"></td>
			<td th:text="${user.stage.stage}"></td>
			<td sec:authorize="hasAuthority('ADMIN')" th:text="${user.role}"></td>
			<td sec:authorize="hasAuthority('ADMIN')" th:text="${user.accountVerified}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:if="${(#httpServletRequest.remoteUser != user.username or user.role!='ADMIN') and (rounds == 0 or user.isCompetitor == false)}" th:href="@{/deleteuser/{id}(id=${user.id})}" class="btn btn-danger">delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:if="${#httpServletRequest.remoteUser != user.username}" th:href="@{/edituser/{id}(id=${user.id})}" class="btn btn-info">edit</a></td>
			<td sec:authorize="hasAuthority('ADMIN')" th:if="${rounds > 0 and user.isCompetitor == true and user.accountVerified}"><a th:href="@{/userrounds/{id}(id=${user.id})}" class = "btn btn-primary">rounds</a></td>
		</tr>
	</table>
	<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success" href="/adduser">Add new user</a>
	<a href="/home" class="btn btn-primary">Main page</a>
	<a sec:authorize="hasAuthority('ADMIN')" th:if="${rounds == 0 and competitors > 2}" href="/makedraw" class="btn btn-primary">Make bracket</a>
	<a sec:authorize="hasAuthority('ADMIN')" th:if="${stageStatus and rounds > 0}" href="/nextstage" class="btn btn-info">Confirm current stage results</a>
	<a sec:authorize="hasAuthority('ADMIN')" href="/stages" class="btn btn-primary">Stages</a>
	<a href="/rounds" class="btn btn-primary">Rounds</a>
	<a  th:if="${rounds > 0}" href="/bracket" class="btn btn-primary">Bracket</a>
	<a sec:authorize="hasAuthority('ADMIN')" href="/reset" class="btn btn-danger">Reset</a>
</div>
</body>
</html>